@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255,255,255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: rgb(7,32,25);
  background: linear-gradient(90deg, rgba(7,32,25,1) 0%, rgba(0,0,0,1) 23%, rgba(6,29,23,1) 84%, rgba(9,41,32,1) 100%);
}

@layer base {
  body {
    background-color: #121315;
  }
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl;
  }
  tr, td {
    @apply p-4;
  }
  p {
    @apply text-slate-300;
  }
}